/* ========================= */
/* RESET */
/* ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
}

body {
    font-family: "Inter", sans-serif;
    background: #0f172a;
    color: #f8fafc;
}

/* ========================= */
/* LINKS */
/* ========================= */

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    font: inherit;
}

/* ========================= */
/* SCROLLBAR */
/* ========================= */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}